#ex-toggle1 {
    padding-left: 30px;
}

#ex-toggle1:hover {
    background-color: #FFF !important;
    padding-left: 30px;
}

.candidate-profile-education {
    padding-left: 15px !important;
}

.candidate-profile-education h6 {
    color: rgb(0, 102, 204);
    font-weight: 600 !important;
}

.candidate-profile-education  blockquote {
    border: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}